@import "../variables";

/* Styles pour le conteneur principal */
.globalContainerProjects {
  display: flex;
  flex-direction: column;  
  
  /* Styles pour le titre du projet */
  .titleProject {
    color: $fontColor;
    text-align: center;
    margin-bottom: 2vh;
  }
  
  /* Styles pour le conteneur des projets */
  .projectsContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 3vh;
    
    /* Styles pour le conteneur d'un projet */
    .cardProject {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 30vw;
      height: auto;
      border-radius: 30px;
      border: 3px solid $yellow-color;
      background-color: $blueLight-color;
      margin: 3vh;
      padding: 15px;
      
      p {
        color: $fontColor;
        font-size: $font-size-Resp-text-small_1;
      }
    }
  }
}


/* Styles pour les écrans de petite taille */
@media screen and (max-width: 780px) {
  .globalContainerProjects {
    
    .titleProject {
      margin-bottom: 1vh;
    }
    
    .projectsContainer {
      flex-flow: column nowrap;
      align-items: center;
      margin-bottom: 3vh;
      
      .cardProject {
        width: 90vw;
        border-radius: 20px;
        border: 2px solid $yellow-color;
        background-color: $blueLight-color;
        margin: 3vh;
        padding: 10px;
        
        p {
          color: $fontColor;
          font-size: $font-size-Resp-text-small;
        }
      }
    }
  }
}
