@import url('https://fonts.googleapis.com/css2?family=Cairo+Play:wght@300;400;500&display=swap');
@import "../variables";

/* Styles pour le conteneur des cartes */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: $blueDeep-color;

  &.expanded {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
  }

  #titleH1 {
    font-size: $font-size-titreParag;
  }
}

/* Styles pour les cartes */
.cards {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 20px;
  color: $fontColor;

  .imgExperience {
    display: flex;
    justify-content: center;
    
    img {
      width: 40%;
      cursor: pointer;
      transition: ease-in 0.3s;
      margin: 10px;

      &:hover {
        transform: scale(1.1);
        -ms-transform: scale(1.1); /* IE 9 */
        -webkit-transform: scale(1.1); /* Safari 3-8 */
        transition: ease-out 0.3s;
      }
    }
  }
}

.expanded {
  flex-direction: column-reverse;
  color: $yellow-color;
  margin-left: 5%;
  transition: ease-out 0.3s;
}

.additionalContent {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 50%;
  height: auto;
  left: 40%;
  padding: 10px;
  margin-top: 10px;
  transition: ease-out 0.3s;

  // &additionalContent:nth-child(2) {
  //   background-color: aqua;
  // }
  
  .experienceContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 30px;
    background-color: $yellow-color;
    color: black;
    padding: 10px;
    
    span {
      font-size: $font-size-main;
      text-align: center;
      font-weight: bold;
    }
    
    p {
      font-size: calc($font-size-main/1.6);
      margin: 0 0 10px 10px;
    }
  }

  .logoMajorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $yellow-color;
    border-radius: 30px;
    color: black;

    .titleContainerExperience {
      text-align: center;
      margin: 20px;
    }

    img {
      width: 125px;
      height: auto;
    }

    .logoContainer {
      display: flex;
      flex-direction: row;

      .divLeft {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .logo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 10px;
          font-size: calc($font-size-main/1.6);
        }
      }
  
      .divRight {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .logo {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 10px;
          font-size: calc($font-size-main/1.6);
        }
      }
    }
  }
}
