$yellow-color: #E1A624;
$blueLight-color: #317AC1;
$blueDeep-color: #384454;

$fontColor: #D4D3DC;
$brown-color: #AD956B;

$font-size-title: 15rem;
$font-size-main: 10em;
$font-size-main-2: 3.5em;
$font-size-main-3: 2em;

$font-size-Resp-title: 3rem;
$font-size-Resp-main: 1.8em;
$font-size-Resp-main-2: 1.6em;

